      <div class="navigator">
  ____PREV____
  ____PADDING____
  ____NEXT____
      </div>
      <hr />
      <div class="article">
  ____ARTICLE____
      </div>
      <hr />
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1620400657758659"
        crossorigin="anonymous"></script>
      <!-- 아티클 뷰 -->
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1620400657758659"
        data-ad-slot="7314121885"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <div class="navigator">
  ____PREV____
  ____PADDING____
  ____NEXT____
      </div>
