<html>
  <head>
    <title>Life Logging in github</title>
    ____SCRIPT____
    ____STYLESHEET____
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <script type="text/javascript" async
	    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="shortcut icon" href="/favicon.ico"/>
  </head>
  <body>
    <div class="header">
      <h1>Life Logging</h1>
      <ul>
	<li>
	  ____MENUINDEX____
	</li>
	<li>
	  ____MENUARTICLE____
	</li>
	<!-- <li> -->
	<!--   MENUBOOK____ -->
	<!-- </li> -->
	<li>
	  ____MENUSF____
	</li>
	<li>
	  ____MENUINFO____
	</li>
      </ul>
    </div>
    <div class="main">
      ____MAIN____
    </div>
    <div class="footer">
      Copyright endofhope.com All rights reserved.
    </div>
  </body>
</html>
<script type="text/javascript">
  var img = document.getElementsByTagName("img");
  for(let x=0; x<img.length; x++){
      img.item(x).onclick=function(){window.open(this.src)};
  }
</script>
