@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");
body {
    background-color: gainsboro;
}
a {
    text-decoration-line: none;
    color: royalblue;
}
a:hover {
    text-decoration: underline;
}
.header ul {
    text-align: right;
}
.header li {
    display:inline;
    list-style-type:none;
    margin-right: 2px;
}
.header h1 {
    text-align: center;
}
.footer {
    margin-top: 20px;
    text-align: center;
    font-size: small;
}
.x {
    text-decoration: line-through;
}
.b {
    font-weight: bold;
}
.main {
    line-height: 1.7em;
}
img {
    width: 320px;
}
.s_img{
    width: 160px;
}
.main h1, h2, h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.main h2{
}
.main h3 {
}
.main h4 {
}
.main h5{
    margin-top: 5px;
    text-align: right;
    margin-right: 20px;}

.main ul {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-type: circle;
}
.main blockquote {
    margin: 5px;
    color: MediumSlateBlue;
    border-left-style: solid;
    border-color: silver;
    padding-left: 5px;
}
.main div{

}
.navigator{
    margin-top: 10px;
    margin-bottom: 10px;
}
.article{
    margin-top:40px;
    margin-bottom: 40px;
}
.article pre{
    border-style: solid;
    border-width: 1px;
    background-color: darkslategrey;
    color: white;
    padding: 5px;
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    font-family: 'D2Coding', monospace;
    line-height: 1.2em;
}
